<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/products</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">2042001</property>

        <!-- Hibernate dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL statements in logs -->
        <property name="hibernate.show_sql">true</property>

        <!-- Format SQL statements in logs -->
<!--        <property name="hibernate.format_sql">true</property>-->

        <!-- Automatic schema update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Connection pool size -->
<!--        <property name="hibernate.connection.pool_size">10</property>-->

        <!-- Enable caching using Ehcache -->
<!--        <property name="hibernate.cache.use_second_level_cache">true</property>-->
<!--        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.EhCacheProvider</property>-->
<!--        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>-->

        <!-- Specify entity classes to be mapped -->
<!--        <mapping class="org.example.model.Product" />-->
        <mapping class="org.example.model.Employee" />
        <mapping class="org.example.model.Product" />
        <mapping class="org.example.model.Person" />
        <mapping class="org.example.model.PurchaseDetail" />
        <mapping class="org.example.model.PurchaseTransaction" />
        <mapping class="org.example.model.Transaction" />
        <mapping class="org.example.model.TransactionDetail" />






        <!-- Add more mappings if you have other entity classes -->
    </session-factory>
</hibernate-configuration>
